Repository romuloxaguiar/teste-yfbai3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/core-team, @organization/ai-team, @organization/backend-team, @organization/frontend-team, @organization/devops-team, @organization/security-team, @organization/sre-team, @organization/qa-team, @organization/technical-writers, @organization/dba-team

.github/CODEOWNERS:

# Unless a later match takes precedence, the core team will be requested for review
* @organization/core-team

# AI Engine - Machine learning and NLP components
src/backend/ai-engine/** @organization/ai-team

# Backend Services
src/backend/api-gateway/** @organization/backend-team
src/backend/distribution-service/** @organization/backend-team
src/backend/document-service/** @organization/backend-team
src/backend/transcription-service/** @organization/backend-team

# Frontend Components
src/web/** @organization/frontend-team

# Infrastructure and DevOps
infrastructure/** @organization/devops-team
src/backend/k8s/** @organization/devops-team
.github/workflows/** @organization/devops-team

# Shared Backend Components - Requires both backend and core team review
src/backend/shared/** @organization/backend-team @organization/core-team

# Infrastructure with Security Requirements
infrastructure/terraform/** @organization/devops-team @organization/security-team
infrastructure/monitoring/** @organization/devops-team @organization/sre-team

# Test Suites - Requires both QA and respective team review
src/backend/**/test/** @organization/qa-team @organization/backend-team
src/web/**/test/** @organization/qa-team @organization/frontend-team

# Documentation
docs/** @organization/core-team @organization/technical-writers

# Security-sensitive areas require security team review
security/** @organization/security-team
**/security.* @organization/security-team

# Database migrations require DBA review
**/migrations/** @organization/dba-team @organization/backend-team

# Configuration files require DevOps and Security review
**/*.config.* @organization/devops-team @organization/security-team
**/*.yaml @organization/devops-team
**/*.yml @organization/devops-team

# Package dependencies require security review
**/package.json @organization/security-team @organization/frontend-team
**/package-lock.json @organization/security-team @organization/frontend-team
**/requirements.txt @organization/security-team @organization/backend-team
**/requirements.*.txt @organization/security-team @organization/backend-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/aks/variables.tf
  infrastructure/terraform/modules/aks/variables.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/apim/main.tf
  infrastructure/terraform/modules/apim/main.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/apim/outputs.tf
  infrastructure/terraform/modules/apim/outputs.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/apim/variables.tf
  infrastructure/terraform/modules/apim/variables.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/keyvault/main.tf
  infrastructure/terraform/modules/keyvault/main.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/keyvault/outputs.tf
  infrastructure/terraform/modules/keyvault/outputs.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/keyvault/variables.tf
  infrastructure/terraform/modules/keyvault/variables.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/sql/main.tf
  infrastructure/terraform/modules/sql/main.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/sql/outputs.tf
  infrastructure/terraform/modules/sql/outputs.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/sql/variables.tf
  infrastructure/terraform/modules/sql/variables.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/storage/main.tf
  infrastructure/terraform/modules/storage/main.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/storage/outputs.tf
  infrastructure/terraform/modules/storage/outputs.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/storage/variables.tf
  infrastructure/terraform/modules/storage/variables.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @organization/core-team

Add public-samples/teste-yfbai3/src/backend/.env.example
  src/backend/.env.example
Owners: @organization/core-team

Add public-samples/teste-yfbai3/src/backend/README.md
  src/backend/README.md
Owners: @organization/core-team

Add public-samples/teste-yfbai3/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/src/backend/package.json
  src/backend/package.json
Owners: @organization/security-team, @organization/frontend-team

Add public-samples/teste-yfbai3/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @organization/core-team

Add public-samples/teste-yfbai3/src/backend/ai-engine/Dockerfile
  src/backend/ai-engine/Dockerfile
Owners: @organization/ai-team

Add public-samples/teste-yfbai3/src/backend/ai-engine/requirements.txt
  src/backend/ai-engine/requirements.txt
Owners: @organization/security-team, @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/ai-engine/setup.py
  src/backend/ai-engine/setup.py
Owners: @organization/ai-team

Add public-samples/teste-yfbai3/src/backend/ai-engine/src/__init__.py
  src/backend/ai-engine/src/__init__.py
Owners: @organization/ai-team

Add public-samples/teste-yfbai3/src/backend/ai-engine/src/config.py
  src/backend/ai-engine/src/config.py
Owners: @organization/ai-team

Add public-samples/teste-yfbai3/src/backend/ai-engine/src/main.py
  src/backend/ai-engine/src/main.py
Owners: @organization/ai-team

Add public-samples/teste-yfbai3/src/backend/ai-engine/src/models/action_item_recognition.py
  src/backend/ai-engine/src/models/action_item_recognition.py
Owners: @organization/ai-team

Add public-samples/teste-yfbai3/src/backend/ai-engine/src/models/summary_generation.py
  src/backend/ai-engine/src/models/summary_generation.py
Owners: @organization/ai-team

Add public-samples/teste-yfbai3/src/backend/ai-engine/src/models/topic_detection.py
  src/backend/ai-engine/src/models/topic_detection.py
Owners: @organization/ai-team

Add public-samples/teste-yfbai3/src/backend/ai-engine/src/utils/nlp_utils.py
  src/backend/ai-engine/src/utils/nlp_utils.py
Owners: @organization/ai-team

Add public-samples/teste-yfbai3/src/backend/ai-engine/src/utils/text_preprocessing.py
  src/backend/ai-engine/src/utils/text_preprocessing.py
Owners: @organization/ai-team

Add public-samples/teste-yfbai3/src/backend/ai-engine/tests/test_action_recognition.py
  src/backend/ai-engine/tests/test_action_recognition.py
Owners: @organization/ai-team

Add public-samples/teste-yfbai3/src/backend/ai-engine/tests/test_topic_detection.py
  src/backend/ai-engine/tests/test_topic_detection.py
Owners: @organization/ai-team

Add public-samples/teste-yfbai3/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @organization/security-team, @organization/frontend-team

Add public-samples/teste-yfbai3/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/api-gateway/src/index.ts
  src/backend/api-gateway/src/index.ts
Owners: @organization/backend-team
