Repository romuloxaguiar/teste-yfbai3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/core-team, @organization/ai-team, @organization/backend-team, @organization/frontend-team, @organization/devops-team, @organization/security-team, @organization/sre-team, @organization/qa-team, @organization/technical-writers, @organization/dba-team

Add public-samples/teste-yfbai3/src/backend/api-gateway/src/config/index.ts
  src/backend/api-gateway/src/config/index.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/api-gateway/src/middleware/auth.middleware.ts
  src/backend/api-gateway/src/middleware/auth.middleware.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/api-gateway/src/middleware/ratelimit.middleware.ts
  src/backend/api-gateway/src/middleware/ratelimit.middleware.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/api-gateway/src/middleware/validation.middleware.ts
  src/backend/api-gateway/src/middleware/validation.middleware.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/api-gateway/src/routes/index.ts
  src/backend/api-gateway/src/routes/index.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/api-gateway/src/routes/meeting.routes.ts
  src/backend/api-gateway/src/routes/meeting.routes.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/api-gateway/src/routes/minutes.routes.ts
  src/backend/api-gateway/src/routes/minutes.routes.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/api-gateway/src/routes/transcription.routes.ts
  src/backend/api-gateway/src/routes/transcription.routes.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/api-gateway/test/integration/gateway.test.ts
  src/backend/api-gateway/test/integration/gateway.test.ts
Owners: @organization/qa-team, @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/api-gateway/test/unit/middleware.test.ts
  src/backend/api-gateway/test/unit/middleware.test.ts
Owners: @organization/qa-team, @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/distribution-service/Dockerfile
  src/backend/distribution-service/Dockerfile
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/distribution-service/package.json
  src/backend/distribution-service/package.json
Owners: @organization/security-team, @organization/frontend-team

Add public-samples/teste-yfbai3/src/backend/distribution-service/tsconfig.json
  src/backend/distribution-service/tsconfig.json
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/distribution-service/src/index.ts
  src/backend/distribution-service/src/index.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/distribution-service/src/config/index.ts
  src/backend/distribution-service/src/config/index.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/distribution-service/src/models/distribution.model.ts
  src/backend/distribution-service/src/models/distribution.model.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/distribution-service/src/services/email.service.ts
  src/backend/distribution-service/src/services/email.service.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/distribution-service/src/services/teams.notification.service.ts
  src/backend/distribution-service/src/services/teams.notification.service.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/distribution-service/src/utils/retry.ts
  src/backend/distribution-service/src/utils/retry.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/distribution-service/test/integration/distribution.test.ts
  src/backend/distribution-service/test/integration/distribution.test.ts
Owners: @organization/qa-team, @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/distribution-service/test/unit/email.test.ts
  src/backend/distribution-service/test/unit/email.test.ts
Owners: @organization/qa-team, @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/document-service/Dockerfile
  src/backend/document-service/Dockerfile
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/document-service/package.json
  src/backend/document-service/package.json
Owners: @organization/security-team, @organization/frontend-team

Add public-samples/teste-yfbai3/src/backend/document-service/tsconfig.json
  src/backend/document-service/tsconfig.json
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/document-service/src/index.ts
  src/backend/document-service/src/index.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/document-service/src/config/index.ts
  src/backend/document-service/src/config/index.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/document-service/src/models/minutes.model.ts
  src/backend/document-service/src/models/minutes.model.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/document-service/src/services/document.service.ts
  src/backend/document-service/src/services/document.service.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/document-service/src/services/template.service.ts
  src/backend/document-service/src/services/template.service.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/document-service/src/utils/pdf-generator.ts
  src/backend/document-service/src/utils/pdf-generator.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/document-service/test/integration/document.test.ts
  src/backend/document-service/test/integration/document.test.ts
Owners: @organization/qa-team, @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/document-service/test/unit/template.test.ts
  src/backend/document-service/test/unit/template.test.ts
Owners: @organization/qa-team, @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/k8s/ai-engine.yaml
  src/backend/k8s/ai-engine.yaml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/src/backend/k8s/api-gateway.yaml
  src/backend/k8s/api-gateway.yaml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/src/backend/k8s/configmap.yaml
  src/backend/k8s/configmap.yaml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/src/backend/k8s/distribution-service.yaml
  src/backend/k8s/distribution-service.yaml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/src/backend/k8s/document-service.yaml
  src/backend/k8s/document-service.yaml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/src/backend/k8s/ingress.yaml
  src/backend/k8s/ingress.yaml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/src/backend/k8s/redis.yaml
  src/backend/k8s/redis.yaml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/src/backend/k8s/secrets.yaml
  src/backend/k8s/secrets.yaml
Owners: @organization/devops-team

.github/CODEOWNERS:

# Unless a later match takes precedence, the core team will be requested for review
* @organization/core-team

# AI Engine - Machine learning and NLP components
src/backend/ai-engine/** @organization/ai-team

# Backend Services
src/backend/api-gateway/** @organization/backend-team
src/backend/distribution-service/** @organization/backend-team
src/backend/document-service/** @organization/backend-team
src/backend/transcription-service/** @organization/backend-team

# Frontend Components
src/web/** @organization/frontend-team

# Infrastructure and DevOps
infrastructure/** @organization/devops-team
src/backend/k8s/** @organization/devops-team
.github/workflows/** @organization/devops-team

# Shared Backend Components - Requires both backend and core team review
src/backend/shared/** @organization/backend-team @organization/core-team

# Infrastructure with Security Requirements
infrastructure/terraform/** @organization/devops-team @organization/security-team
infrastructure/monitoring/** @organization/devops-team @organization/sre-team

# Test Suites - Requires both QA and respective team review
src/backend/**/test/** @organization/qa-team @organization/backend-team
src/web/**/test/** @organization/qa-team @organization/frontend-team

# Documentation
docs/** @organization/core-team @organization/technical-writers

# Security-sensitive areas require security team review
security/** @organization/security-team
**/security.* @organization/security-team

# Database migrations require DBA review
**/migrations/** @organization/dba-team @organization/backend-team

# Configuration files require DevOps and Security review
**/*.config.* @organization/devops-team @organization/security-team
**/*.yaml @organization/devops-team
**/*.yml @organization/devops-team

# Package dependencies require security review
**/package.json @organization/security-team @organization/frontend-team
**/package-lock.json @organization/security-team @organization/frontend-team
**/requirements.txt @organization/security-team @organization/backend-team
**/requirements.*.txt @organization/security-team @organization/backend-team
