Repository romuloxaguiar/teste-yfbai3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/core-team, @organization/ai-team, @organization/backend-team, @organization/frontend-team, @organization/devops-team, @organization/security-team, @organization/sre-team, @organization/qa-team, @organization/technical-writers, @organization/dba-team

.github/CODEOWNERS:

# Unless a later match takes precedence, the core team will be requested for review
* @organization/core-team

# AI Engine - Machine learning and NLP components
src/backend/ai-engine/** @organization/ai-team

# Backend Services
src/backend/api-gateway/** @organization/backend-team
src/backend/distribution-service/** @organization/backend-team
src/backend/document-service/** @organization/backend-team
src/backend/transcription-service/** @organization/backend-team

# Frontend Components
src/web/** @organization/frontend-team

# Infrastructure and DevOps
infrastructure/** @organization/devops-team
src/backend/k8s/** @organization/devops-team
.github/workflows/** @organization/devops-team

# Shared Backend Components - Requires both backend and core team review
src/backend/shared/** @organization/backend-team @organization/core-team

# Infrastructure with Security Requirements
infrastructure/terraform/** @organization/devops-team @organization/security-team
infrastructure/monitoring/** @organization/devops-team @organization/sre-team

# Test Suites - Requires both QA and respective team review
src/backend/**/test/** @organization/qa-team @organization/backend-team
src/web/**/test/** @organization/qa-team @organization/frontend-team

# Documentation
docs/** @organization/core-team @organization/technical-writers

# Security-sensitive areas require security team review
security/** @organization/security-team
**/security.* @organization/security-team

# Database migrations require DBA review
**/migrations/** @organization/dba-team @organization/backend-team

# Configuration files require DevOps and Security review
**/*.config.* @organization/devops-team @organization/security-team
**/*.yaml @organization/devops-team
**/*.yml @organization/devops-team

# Package dependencies require security review
**/package.json @organization/security-team @organization/frontend-team
**/package-lock.json @organization/security-team @organization/frontend-team
**/requirements.txt @organization/security-team @organization/backend-team
**/requirements.*.txt @organization/security-team @organization/backend-team

Add public-samples/teste-yfbai3/.github/dependabot.yml
  .github/dependabot.yml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @organization/core-team

Add public-samples/teste-yfbai3/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @organization/core-team

Add public-samples/teste-yfbai3/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @organization/core-team

Add public-samples/teste-yfbai3/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @organization/core-team

Add public-samples/teste-yfbai3/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @organization/core-team

Add public-samples/teste-yfbai3/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @organization/core-team

Add public-samples/teste-yfbai3/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @organization/core-team

Add public-samples/teste-yfbai3/infrastructure/.gitignore
  infrastructure/.gitignore
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/infrastructure/README.md
  infrastructure/README.md
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/infrastructure/docs/architecture.md
  infrastructure/docs/architecture.md
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/infrastructure/docs/deployment.md
  infrastructure/docs/deployment.md
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/infrastructure/docs/disaster-recovery.md
  infrastructure/docs/disaster-recovery.md
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/infrastructure/docs/monitoring.md
  infrastructure/docs/monitoring.md
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/infrastructure/docs/security.md
  infrastructure/docs/security.md
Owners: @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/monitoring/grafana-dashboards/ai-performance.json
  infrastructure/monitoring/grafana-dashboards/ai-performance.json
Owners: @organization/devops-team, @organization/sre-team

Add public-samples/teste-yfbai3/infrastructure/monitoring/grafana-dashboards/api-gateway.json
  infrastructure/monitoring/grafana-dashboards/api-gateway.json
Owners: @organization/devops-team, @organization/sre-team

Add public-samples/teste-yfbai3/infrastructure/monitoring/grafana-dashboards/services-health.json
  infrastructure/monitoring/grafana-dashboards/services-health.json
Owners: @organization/devops-team, @organization/sre-team

Add public-samples/teste-yfbai3/infrastructure/monitoring/loki/loki.yml
  infrastructure/monitoring/loki/loki.yml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/infrastructure/monitoring/prometheus/rules/alerts.yml
  infrastructure/monitoring/prometheus/rules/alerts.yml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/infrastructure/monitoring/prometheus/rules/recording.yml
  infrastructure/monitoring/prometheus/rules/recording.yml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/infrastructure/monitoring/tempo/tempo.yml
  infrastructure/monitoring/tempo/tempo.yml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/infrastructure/scripts/backup-databases.ps1
  infrastructure/scripts/backup-databases.ps1
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/infrastructure/scripts/init-keyvault.ps1
  infrastructure/scripts/init-keyvault.ps1
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/infrastructure/scripts/rotate-secrets.ps1
  infrastructure/scripts/rotate-secrets.ps1
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/infrastructure/scripts/setup-monitoring.ps1
  infrastructure/scripts/setup-monitoring.ps1
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/aks/main.tf
  infrastructure/terraform/modules/aks/main.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/infrastructure/terraform/modules/aks/outputs.tf
  infrastructure/terraform/modules/aks/outputs.tf
Owners: @organization/devops-team, @organization/security-team
