Repository romuloxaguiar/teste-yfbai3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/core-team, @organization/ai-team, @organization/backend-team, @organization/frontend-team, @organization/devops-team, @organization/security-team, @organization/sre-team, @organization/qa-team, @organization/technical-writers, @organization/dba-team

.github/CODEOWNERS:

# Unless a later match takes precedence, the core team will be requested for review
* @organization/core-team

# AI Engine - Machine learning and NLP components
src/backend/ai-engine/** @organization/ai-team

# Backend Services
src/backend/api-gateway/** @organization/backend-team
src/backend/distribution-service/** @organization/backend-team
src/backend/document-service/** @organization/backend-team
src/backend/transcription-service/** @organization/backend-team

# Frontend Components
src/web/** @organization/frontend-team

# Infrastructure and DevOps
infrastructure/** @organization/devops-team
src/backend/k8s/** @organization/devops-team
.github/workflows/** @organization/devops-team

# Shared Backend Components - Requires both backend and core team review
src/backend/shared/** @organization/backend-team @organization/core-team

# Infrastructure with Security Requirements
infrastructure/terraform/** @organization/devops-team @organization/security-team
infrastructure/monitoring/** @organization/devops-team @organization/sre-team

# Test Suites - Requires both QA and respective team review
src/backend/**/test/** @organization/qa-team @organization/backend-team
src/web/**/test/** @organization/qa-team @organization/frontend-team

# Documentation
docs/** @organization/core-team @organization/technical-writers

# Security-sensitive areas require security team review
security/** @organization/security-team
**/security.* @organization/security-team

# Database migrations require DBA review
**/migrations/** @organization/dba-team @organization/backend-team

# Configuration files require DevOps and Security review
**/*.config.* @organization/devops-team @organization/security-team
**/*.yaml @organization/devops-team
**/*.yml @organization/devops-team

# Package dependencies require security review
**/package.json @organization/security-team @organization/frontend-team
**/package-lock.json @organization/security-team @organization/frontend-team
**/requirements.txt @organization/security-team @organization/backend-team
**/requirements.*.txt @organization/security-team @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/k8s/sql.yaml
  src/backend/k8s/sql.yaml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/src/backend/k8s/transcription-service.yaml
  src/backend/k8s/transcription-service.yaml
Owners: @organization/devops-team

Add public-samples/teste-yfbai3/src/backend/shared/constants/error-codes.ts
  src/backend/shared/constants/error-codes.ts
Owners: @organization/backend-team, @organization/core-team

Add public-samples/teste-yfbai3/src/backend/shared/constants/status-codes.ts
  src/backend/shared/constants/status-codes.ts
Owners: @organization/backend-team, @organization/core-team

Add public-samples/teste-yfbai3/src/backend/shared/database/migrations/001_initial_schema.sql
  src/backend/shared/database/migrations/001_initial_schema.sql
Owners: @organization/dba-team, @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/shared/database/migrations/002_indexes.sql
  src/backend/shared/database/migrations/002_indexes.sql
Owners: @organization/dba-team, @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/shared/database/schemas/meeting.schema.ts
  src/backend/shared/database/schemas/meeting.schema.ts
Owners: @organization/backend-team, @organization/core-team

Add public-samples/teste-yfbai3/src/backend/shared/database/schemas/minutes.schema.ts
  src/backend/shared/database/schemas/minutes.schema.ts
Owners: @organization/backend-team, @organization/core-team

Add public-samples/teste-yfbai3/src/backend/shared/database/schemas/transcription.schema.ts
  src/backend/shared/database/schemas/transcription.schema.ts
Owners: @organization/backend-team, @organization/core-team

Add public-samples/teste-yfbai3/src/backend/shared/types/meeting.types.ts
  src/backend/shared/types/meeting.types.ts
Owners: @organization/backend-team, @organization/core-team

Add public-samples/teste-yfbai3/src/backend/shared/types/minutes.types.ts
  src/backend/shared/types/minutes.types.ts
Owners: @organization/backend-team, @organization/core-team

Add public-samples/teste-yfbai3/src/backend/shared/types/transcription.types.ts
  src/backend/shared/types/transcription.types.ts
Owners: @organization/backend-team, @organization/core-team

Add public-samples/teste-yfbai3/src/backend/shared/utils/error-handler.ts
  src/backend/shared/utils/error-handler.ts
Owners: @organization/backend-team, @organization/core-team

Add public-samples/teste-yfbai3/src/backend/shared/utils/logger.ts
  src/backend/shared/utils/logger.ts
Owners: @organization/backend-team, @organization/core-team

Add public-samples/teste-yfbai3/src/backend/shared/utils/validation.ts
  src/backend/shared/utils/validation.ts
Owners: @organization/backend-team, @organization/core-team

Add public-samples/teste-yfbai3/src/backend/transcription-service/Dockerfile
  src/backend/transcription-service/Dockerfile
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/transcription-service/package.json
  src/backend/transcription-service/package.json
Owners: @organization/security-team, @organization/frontend-team

Add public-samples/teste-yfbai3/src/backend/transcription-service/tsconfig.json
  src/backend/transcription-service/tsconfig.json
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/transcription-service/src/index.ts
  src/backend/transcription-service/src/index.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/transcription-service/src/config/index.ts
  src/backend/transcription-service/src/config/index.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/transcription-service/src/models/transcription.model.ts
  src/backend/transcription-service/src/models/transcription.model.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/transcription-service/src/services/teams.service.ts
  src/backend/transcription-service/src/services/teams.service.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/transcription-service/src/services/transcription.service.ts
  src/backend/transcription-service/src/services/transcription.service.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/transcription-service/src/utils/text-processor.ts
  src/backend/transcription-service/src/utils/text-processor.ts
Owners: @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/transcription-service/test/integration/transcription.test.ts
  src/backend/transcription-service/test/integration/transcription.test.ts
Owners: @organization/qa-team, @organization/backend-team

Add public-samples/teste-yfbai3/src/backend/transcription-service/test/unit/text-processor.test.ts
  src/backend/transcription-service/test/unit/text-processor.test.ts
Owners: @organization/qa-team, @organization/backend-team

Add public-samples/teste-yfbai3/src/web/.dockerignore
  src/web/.dockerignore
Owners: @organization/frontend-team

Add public-samples/teste-yfbai3/src/web/.env.example
  src/web/.env.example
Owners: @organization/frontend-team

Add public-samples/teste-yfbai3/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @organization/frontend-team

Add public-samples/teste-yfbai3/src/web/.prettierrc
  src/web/.prettierrc
Owners: @organization/frontend-team

Add public-samples/teste-yfbai3/src/web/Dockerfile
  src/web/Dockerfile
Owners: @organization/frontend-team

Add public-samples/teste-yfbai3/src/web/README.md
  src/web/README.md
Owners: @organization/frontend-team

Add public-samples/teste-yfbai3/src/web/index.html
  src/web/index.html
Owners: @organization/frontend-team

Add public-samples/teste-yfbai3/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/src/web/package.json
  src/web/package.json
Owners: @organization/security-team, @organization/frontend-team

Add public-samples/teste-yfbai3/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @organization/frontend-team

Add public-samples/teste-yfbai3/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @organization/devops-team, @organization/security-team

Add public-samples/teste-yfbai3/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @organization/frontend-team

Add public-samples/teste-yfbai3/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @organization/frontend-team

Add public-samples/teste-yfbai3/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @organization/frontend-team
